.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  0% { transform: rotate(-25deg); }
  50% { transform: rotate(25deg); }
  100% { transform: rotate(-25deg); }
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

textarea, select {
  display: block;
  text-align: center;
  margin: 0 auto 10px;
}
